<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>host</key>
    <string>replaceme</string>
    <key>appid</key>
    <string>replaceme</string>
    <key>projectid</key>
    <string>replaceme</string>
    <key>appkey</key>
    <string>replaceme</string>
    <key>connectiontag</key>
    <string>replaceme</string>
</dict>
</plist>
